SoftModemTerminal.xcodeproj/project.xcworkspace/xcuserdata/arachman.xcuserdatad/UserInterfaceState.xcuserstate
SoftModemTerminal.xcodeproj/xcuserdata/arachman.xcuserdatad/xcschemes/SoftModemTerminal.xcscheme
SoftModemTerminal.xcodeproj/xcuserdata/arachman.xcuserdatad/xcschemes/xcschememanagement.plist
